/* This is Style for CSS Background Color */
body#bg-color {
  background-color: lightblue;
}
h1 {
  background-color: green;
}

div {
  background-color: rgb(221, 173, 230);
}

p {
  background-color: yellow;
}

/* This is Style for CSS Background Images */
body#bg-image {
  background-color: rgb(170, 93, 243);
  background-image: url(../../image/woman.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  /* Background Image Shorthand */
  /* background: rgb(170, 93, 243) url(../../image/woman.jpg)
      no-repeat center center; */
}
