div {
  border: 3px solid rgb(84, 84, 255);
}
/* p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
} */
/* p {
  margin: 25px 50px 75px 100px;
} */
/* p {
  margin: 25px 50px 75px;
} */
/* p {
  margin: 25px 50px;
} */
p {
  margin: 25px;
}
